*{
    box-sizing: border-box;
}
.cointainer-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly ;
    margin-top: 20px;
}
#cointainer1{
    background-color:#a8dadc;
}
#cointainer1 p{
    text-transform: capitalize;
}